<section id="services" class="services">
	<div class="container">
		<h2>Our Services</h2>
		<div class="row">
			<div class="col-md-3">
				<center><img src="/images/service1.png" /></center>
				<h6>Finding a quality repairer</h6>
				<p>Select a state or enter your postcode
to find your nearest Car Craft repairer</p>
			</div>
			<div class="col-md-3">
				<center><img src="/images/service2.png" /></center>
				<h6>Get an online estimate</h6>
				<p>You willbe given the opportunity to 
upload  photos of your vehicle and 
the damage or take new photos with
your phone’s  camera.</p>
			</div>
			<div class="col-md-3">
				<center><img src="/images/service3.png" /></center>
				<h6>Total Hail Solutions</h6>
				<p>Car Craft now offers a one-stop shop for 
all your hail damage repairs.Car Craft has
the ability to provide both paintless dent 
repair (PDR) and conventional repair methods</p>
			</div>
			<div class="col-md-3">
				<center><img src="/images/service4.png" /></center>
				<h6>Car Craft Excess Plus</h6>
				<p>It provides customers the peace of mind
that if they are involved in another accident
within twelve months of receiving their policy, 
Excess Plus will pay up to $500.00* 
of your insurance excess.</p>
			</div>

	</div>
</section>